<h1>Skaters#index</h1>
<p>Find me in app/views/skaters/index.html.erb</p>

<div class="skaters-container">
  <ul>
    <% @skaters.each do |s| %>
      <li><a href="/skaters/<%=s.id%>"><img class="index-sktr-photo" src="<%=s.photo%>" alt="" /></a></li>
      <li><h4><%= s.name %></h4></li>
      <li class="last-blurb"><h2><%= s.city %></h2></li>
    <% end %>
  </ul>

</div>
