<div class="container">
  <div class="row">
    <div class="col-md-9 col-sm-12">
      <%@posts.each do |p|%>
      <p height=200px width=200px style:"display:inline-block" class="col-sm-9 col-xs-12"><%=p.title%></p>
      <%end%>
    </div>
    <div class="col-md-3 hidden-sm hidden-xs">
      <h2>more stuff</h2>
    </div>

  </div>

</div>
