<h1>Crews#index</h1>
<p>Find me in app/views/crews/index.html.erb</p>


<div class="container">
  <div class="row">
    <% @crews.each do |c| %>
    <a href="/crews/<%=c.id%>" ><li class='col-xs-12 crews-row'>
    <div class="crew-container">
      <div class="crew-name-photo col-md-4">
        <img src="<%=c.cover_photo%>"/>
      </div>
      <div class="col-md-4">
        <h1><%=c.name%></h1><br>
        <h3><%=c.city%></h3>
      </div>
    </div></li></a>
    <%end%>
  </div>
</div>
