<h4>Sessions#new</h4>
<h1>Login</h1>

<%= form_tag sessions_path do %>
  <div class="field">
    Email:<%= email_field_tag :email %>
  </div>

  <div class="field">
    Password:<%= text_field_tag :password %>
  </div>
  <div class="actions"><%=submit_tag "Log in"%></div>
<% end %>
