  <h1>The Skate Feed</h1>
  <div class="row">
    <% @posts.each do |p| %>
      <li class="span4"><img class="cover" src="<%=p.cover_photo%>" alt="" /></li>
    <%end%>
  </div>
</div>
<div class="btn-primary">
  <!--<%= render "upvotescolumn"%>
