// Place all the styles related to the skaters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {

}

img {

}

li {
  list-style-type: none
}

.last-blurb {
  margin-bottom: 40px;
}

.posts-container {
  width: 800px;
  margin:0 auto;
  position: absolute;
  outline: green solid 2px;
  position: relative;
  h1 {
    margin-left: 50px;
  }
}

.new-post {
  font-size: 18px;
  display: block;
  margin-top: -25px;
}

.box-post {
  // height:230px;
  // width: 230px;
  // outline: 2px solid black;
  display: block;
  float: left;
  // background-color: red;
   margin-top: 5px;
}

.box-post-right {
  // height:230px;
  // width: 230px;
  // outline: 2px solid black;
  display: block;
  // background-color: blue;
  // margin-left: 15px;
   margin-top: 5px;
  // outline: 2px solid black;
  // background-color: blue
}

//
.row img {
    max-width: 100%;
    width:100%;
}

.background-wrapper {
  background-color: black;
  overflow:hidden;
}
.background-wrapper img{
  -webkit-transition: all .3s;
}
.background-wrapper:hover img {
    opacity: .2;
}

.image-caption{
  margin: 0 auto;
  width: 90%;
  font-size: 22px;
  position: absolute;
  bottom: 60px;
  padding: 5px 10px;
  // width: 88%;
  background: rgba(0,0,0,.5);
  color: white;
  opacity:0;
  -webkit-transition: all .3s;
}
.background-wrapper:hover .image-caption {
  opacity:1;
}

.column {
  float:left;
}

.cover {
  width: 275px;
  height: 275px;
}

.navbar {
  padding-top: 0px;
}
.name {
  padding-bottom: 40px;
}

.post-tags {
  display: inline-block;
  height: 40px;
  font-size: 20px;
  font-style: bold;
  color: #462950
}

.modal-content {
  width:1200px;
  height: 800px;
  margin-left: -300px;
}

.profile-posts {
  background-color: #B7BFBF;
}

.upvoted-posts {
  background-color: #B8DBFF
}

.upvoted-skaters {
  background-color: #E0A3FF
}

// .light {
//   width: 640px;
//   height: 390px
// }
// .modal {
//   width:600px;
// }

#upvotes-row {
  margin-left: 10px;
  margin-bottom: 15px;
}

#upvotes-image {
  height: 150px;
  width: 150px;
}

#root_yield {
  position: absolute;
  float: left;
  width: 100%;
  margin: 0 auto;
}

#login_info {
  margin-top: -5px;
  float: right;
  margin-right: 15px;
  display: inline-block;
  font-size: 20px;
}

#logo {
  background-color: #f8f8f8;
}

#profile-photo img{
  margin-bottom: 50px;
}
