// Place all the styles related to the skaters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {

}

img {

}

li {
  list-style-type: none
}

.last-blurb {
  margin-bottom: 40px;
}

.posts-container {
  width: 800px;
  margin-left: 180px;
  position: absolute;
  outline: green solid 2px;
  position: relative;
  h1 {
    margin-left: 50px;
  }
}

.new-post {
  font-size: 18px;
  display: block;
  margin-top: -25px;
}

.box-post {
  // height:230px;
  // width: 230px;
  // outline: 2px solid black;
  display: block;
  float: left;
  // background-color: red;
   margin-top: 5px;
}

.box-post-right {
  // height:230px;
  // width: 230px;
  // outline: 2px solid black;
  display: block;
  // background-color: blue;
  // margin-left: 15px;
   margin-top: 5px;
  // outline: 2px solid black;
  // background-color: blue
}

//
.row img {
    max-width: 100%;
    width:100%;
}
//

upvote-column {
}

.column {
  float:left;
}

.cover {
  width: 275px;
  height: 275px;
}

.navbar {
  padding-top: 0px;
}
.name {
  padding-bottom: 40px;
}

.testing {
  display: inline-block;
  height: 30px
}

.modal-content {
  width:1200px;
  height: 800px;
  margin-left: -300px;
}

// .light {
//   width: 640px;
//   height: 390px
// }
// .modal {
//   width:600px;
// }

#upvotes-image {
  height: 150px;
  width: 150px;
}

#root_yield {
  position: absolute;
  float: left;
  outline: 2px solid red;
  width: 100%;
  margin: 0 auto;
}

#login_info {
  margin-top: -5px;
  float: right;
  margin-right: 15px;
  display: inline-block;
  font-size: 20px;
}

#logo {
  background-color: #f8f8f8;
}
